<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>629581114649-vnlgbvbbs0f5o39bj0r28jgemj4kvn2t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.629581114649-vnlgbvbbs0f5o39bj0r28jgemj4kvn2t</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>629581114649-iosv2g6ll69aka8vu1lhoja296f5a7vv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAZJ9Ol4Pu2CUViIrU6659UVR43yPyKWIw</string>
	<key>GCM_SENDER_ID</key>
	<string>629581114649</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.elredTodoApp</string>
	<key>PROJECT_ID</key>
	<string>elred-todo-app</string>
	<key>STORAGE_BUCKET</key>
	<string>elred-todo-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:629581114649:ios:04ca722dae70159e2d2988</string>
</dict>
</plist>